<h1>Passwords</h1>

<div id="passwords-container">
  <% passwords.forEach(password => { %>
    <div class="password-entry">
      <p><strong>Website:</strong> <%= password.website %></p>
      <p>
        <strong>Password:</strong>
        <span class="password-field" data-password="<%= password.password %>">
          ******
        </span>
        <button class="copy-btn" onclick="copyText('<%= password.password %>')">Copy Password</button>
      </p>
    </div>
  <% }) %>
</div>

<form action="/" method="GET">
  <button type="submit">Add another password</button>
</form>
<form action="/logout" method="GET">
  <button type="submit">Log Out</button>
</form>

<script>
  function togglePasswordVisibility(element) {
    if (element.innerText === '******') {
      element.innerText = element.getAttribute('data-password');
    } else {
      element.innerText = '******';
    }
  }

  function copyText(text) {
    const textarea = document.createElement('textarea');
    textarea.value = text;
    document.body.appendChild(textarea);
    textarea.select();
    document.execCommand('copy');
    document.body.removeChild(textarea);
  }

  const passwordFields = document.querySelectorAll('.password-field');
  passwordFields.forEach(field => {
    field.addEventListener('click', () => {
      togglePasswordVisibility(field);
    });
  });
</script>
